--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
pypdf
python-docx
rank-bm25
numpy
python-dotenv
langgraph
langchain-google-genai
fpdf2
chromadb
sentence-transformers
langchain-chroma
langchain-text-splitters
