fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
pypdf
python-docx
rank-bm25
numpy
python-dotenv
langgraph
langchain-google-genai
fpdf2
chromadb
langchain-chroma
langchain-text-splitters
